.App-upper-block {
  z-index: 1000;
  width: 100%;
  height: 100px;
  
}

#myHeader{
  content: "TreeHugger" !important;
  font-family: sansation;
  color: #0E230A !important;
  font-size: xx-large;
  position: absolute;
  left: 14vmin;
  top: 5vmin;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
  left: 5vmin;
  top: 2vmin;
  z-index: 1100;
  height:70px;
  
}

.sign-in-topnav {
  position: absolute;
  right: 5vmin;
  top: 3vmin;
  
}

.sign-in-status-container {
  position: absolute;
  right: 1vmin;
  width: 300px;
  top: 3vmin;
  
}

.sign-in-status {
  float: left;
  vertical-align: middle;
  padding-top: 10px;
  margin-top: 0.4em;
}
#rgstr{
  color: #0E230A !important;
  background-color: #E1F0D4 !important;
  margin-top: 1em;
}
#sign-in-btn{
  color: #FEFFF0 !important;
  background-color: #71816D !important;
  margin-top: 1em;
}

#logout{
  background-color: #71816D !important;
  margin-top: 1em;
}

@media (max-width: 700px) {
  #myHeader {
    /* font-size: large;
    top: 6.5vmin;
    left: 14vmin; */
    display: none;
  }
}

/* .sign-in-status {
  position: absolute;
  right: 5vmin;
  top: 4vmin;
  font-size: 18px;
}

.topnav-logout {
  position: absolute;
  right: 40vmin;
  top: 3vmin;

} */