.treeregister-page {
  height: 1000px;
}
#rgstr-submit{
  background-color: #5B8C5A !important;
}
#gt-location{
  background-color: #5B8C5A !important;
}
#tree-register-column {
  margin-bottom: 150px;
}