
.update-tree-container {
  position: fixed;
  top: 20%;
  padding: 0;
  margin: 0;
  z-index: 10000;
  width: 95%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#update-tree-x {
  cursor: pointer;
  display: flex;
  margin-left: auto;
}

#update-tree-card {
  border-radius: 1em;
}